<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aplikacja pogodowa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Pogoda</a></li>
                <li class="active"><a href="/test">Test</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>System pogodowy</h1>
            <!--/*@thymesVar id="message" type=""*/-->
            <!--<span th:text="'Message: ' + ${message}"></span>-->
        <h2>Pobierz aktualne dane</h2>
        <form action="/newData">
            <input type="submit" value="Click">
        </form>
    </div>
    <br />
    <hr />
    <div>
        <div align="left">
            <form action="/test" method="post">
                <h4>Wybierz wojewódźtwo</h4>
                <select name="provinceName">
                    <option th:each="x : ${provinces}" th:text="${x}"> >dolnośląskie</option>
                </select>
                <input type="submit" value="Potwierdź">
            </form>
        </div>
        <div align="right">
            <form action="/prediction" method="post">
                Przewidywanie pogody
                <input type="submit" value="Potwierdź">
            </form>
        </div>
    </div>
    <hr />
    <br />
    <div>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Wojewódźtwo</th>
                <th>Składnik</th>
                <th>Wartość</th>
                <th>Stan</th>
            </tr>
            <tr th:each="x, iter: ${testData}">
                <td th:text="${iter.index+1}">id test.</td>
                <td th:text="${x.date}">date test</td>
                <td th:text="${x.province}">province test</td>
                <td th:text="${x.component}">component test</td>
                <td th:text="${#numbers.formatDecimal(x.value, 0, 'COMMA', 2, 'POINT')}">value test</td>
                <td th:text="${x.state}">state test</td>
            </tr>
        </table>
    </div>
    <hr />

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
